<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HKSettingDefaultValues</key>
	<array>
		<dict>
			<key>HKSettingDefaultValueKey</key>
			<string>HoboCodeSettingCallMethod</string>
			<key>HKSettingDefaultValueValue</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>HKSettingDefaultValueKey</key>
			<string>HoboCodeSettingParkMethod</string>
			<key>HKSettingDefaultValueValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HKSettingDefaultValueKey</key>
			<string>HoboCodeSettingVoIPRegister</string>
			<key>HKSettingDefaultValueValue</key>
			<false/>
		</dict>
		<dict>
			<key>HKSettingDefaultValueKey</key>
			<string>HoboCodeSettingSelectedIndexAccountDetail</string>
			<key>HKSettingDefaultValueValue</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>HKSettingDefaultValueKey</key>
			<string>HoboCodeSettingSelectedSource</string>
			<key>HKSettingDefaultValueValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HKSettingDefaultValueKey</key>
			<string>HoboCodeSettingSelectedSourceCallHistory</string>
			<key>HKSettingDefaultValueValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HKSettingDefaultValueKey</key>
			<string>HoboCodeSettingColleaguesSortOrder</string>
			<key>HKSettingDefaultValueValue</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>HKSettingTransformers</key>
	<array>
		<dict>
			<key>HKSettingTransformerKey</key>
			<string>HoboCodeSettingScrollOffsetCallHistory</string>
			<key>HKSettingTransformerName</key>
			<string>NSKeyedUnarchiveFromData</string>
		</dict>
		<dict>
			<key>HKSettingTransformerKey</key>
			<string>HoboCodeSettingScrollOffsetColleagues</string>
			<key>HKSettingTransformerName</key>
			<string>NSKeyedUnarchiveFromData</string>
		</dict>
		<dict>
			<key>HKSettingTransformerKey</key>
			<string>HoboCodeSettingLastActivityDate</string>
			<key>HKSettingTransformerName</key>
			<string>NSKeyedUnarchiveFromData</string>
		</dict>
	</array>
	<key>HKSettingViews</key>
	<dict>
		<key>HKSettingsFull</key>
		<dict>
			<key>HKSettingSections</key>
			<array>
				<dict>
					<key>HKSettingSectionHeader</key>
					<string>Call method</string>
					<key>HKSettingSectionFooter</key>
					<string></string>
					<key>HKSettingSectionItems</key>
					<array>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>Call me</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeOption</string>
							<key>HKSettingSectionItemKey</key>
							<string>HoboCodeSettingCallMethod</string>
							<key>HKSettingSectionItemValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>Call through PBX</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeOption</string>
							<key>HKSettingSectionItemKey</key>
							<string>HoboCodeSettingCallMethod</string>
							<key>HKSettingSectionItemValue</key>
							<integer>1</integer>
							<key>HKSettingSectionItemEnabled</key>
							<array>
								<dict>
									<key>HKSettingSectionItemEnabledKey</key>
									<string>HoboCodeSettingMEXAEnabled</string>
									<key>HKSettingSectionItemEnabledValue</key>
									<true/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>Call through VoIP</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeOption</string>
							<key>HKSettingSectionItemKey</key>
							<string>HoboCodeSettingCallMethod</string>
							<key>HKSettingSectionItemValue</key>
							<integer>2</integer>
							<key>HKSettingSectionItemEnabled</key>
							<array>
								<dict>
									<key>HKSettingSectionItemEnabledKey</key>
									<string>HoboCodeSettingSoftphoneEnabled</string>
									<key>HKSettingSectionItemEnabledValue</key>
									<true/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>Always ask</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeOption</string>
							<key>HKSettingSectionItemKey</key>
							<string>HoboCodeSettingCallMethod</string>
							<key>HKSettingSectionItemValue</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>HKSettingSectionHeader</key>
					<string>VoIP</string>
					<key>HKSettingSectionFooter</key>
					<string></string>
					<key>HKSettingSectionHidden</key>
					<array>
						<dict>
							<key>HKSettingSectionHiddenKey</key>
							<string>HoboCodeSettingSoftphoneIncomingCallEnabled</string>
							<key>HKSettingSectionHiddenValue</key>
							<false/>
						</dict>
					</array>
					<key>HKSettingSectionItems</key>
					<array>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>Incoming calls via VoIP</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeFlag</string>
							<key>HKSettingSectionItemKey</key>
							<string>HoboCodeSettingVOIPRegister</string>
							<key>HKSettingSectionItemEnabled</key>
							<array>
								<dict>
									<key>HKSettingSectionItemEnabledKey</key>
									<string>HoboCodeSettingSoftphoneEnabled</string>
									<key>HKSettingSectionItemEnabledValue</key>
									<true/>
								</dict>
								<dict>
									<key>HKSettingSectionItemEnabledKey</key>
									<string>HoboCodeSettingSoftphoneIncomingCallEnabled</string>
									<key>HKSettingSectionItemEnabledValue</key>
									<true/>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>HKSettingSectionHeader</key>
					<string>Pause button function</string>
					<key>HKSettingSectionFooter</key>
					<string></string>
					<key>HKSettingSectionItems</key>
					<array>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>Hold Call</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeOption</string>
							<key>HKSettingSectionItemKey</key>
							<string>HoboCodeSettingParkMethod</string>
							<key>HKSettingSectionItemValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>Mute Microphone</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeOption</string>
							<key>HKSettingSectionItemKey</key>
							<string>HoboCodeSettingParkMethod</string>
							<key>HKSettingSectionItemValue</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>HKSettingSectionHeader</key>
					<string>Sort colleagues</string>
					<key>HKSettingSectionFooter</key>
					<string></string>
					<key>HKSettingSectionItems</key>
					<array>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>First name</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeOption</string>
							<key>HKSettingSectionItemKey</key>
							<string>HoboCodeSettingColleaguesSortOrder</string>
							<key>HKSettingSectionItemValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>Last name</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeOption</string>
							<key>HKSettingSectionItemKey</key>
							<string>HoboCodeSettingColleaguesSortOrder</string>
							<key>HKSettingSectionItemValue</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>Extension</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeOption</string>
							<key>HKSettingSectionItemKey</key>
							<string>HoboCodeSettingColleaguesSortOrder</string>
							<key>HKSettingSectionItemValue</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>As defined on server</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeOption</string>
							<key>HKSettingSectionItemKey</key>
							<string>HoboCodeSettingColleaguesSortOrder</string>
							<key>HKSettingSectionItemValue</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>HKSettingSectionHeader</key>
					<string>Account</string>
					<key>HKSettingSectionFooter</key>
					<string></string>
					<key>HKSettingSectionItems</key>
					<array>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>Log out</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeCustom</string>
							<key>HKSettingSectionItemAction</key>
							<string>accountLogout:</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>HKSettingsLight</key>
		<dict>
			<key>HKSettingSections</key>
			<array>
				<dict>
					<key>HKSettingSectionHeader</key>
					<string>VoIP</string>
					<key>HKSettingSectionFooter</key>
					<string></string>
					<key>HKSettingSectionHidden</key>
					<array>
						<dict>
							<key>HKSettingSectionHiddenKey</key>
							<string>HoboCodeSettingSoftphoneIncomingCallEnabled</string>
							<key>HKSettingSectionHiddenValue</key>
							<false/>
						</dict>
					</array>
					<key>HKSettingSectionItems</key>
					<array>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>Incoming calls via VoIP</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeFlag</string>
							<key>HKSettingSectionItemKey</key>
							<string>HoboCodeSettingVOIPRegister</string>
							<key>HKSettingSectionItemEnabled</key>
							<array>
								<dict>
									<key>HKSettingSectionItemEnabledKey</key>
									<string>HoboCodeSettingSoftphoneEnabled</string>
									<key>HKSettingSectionItemEnabledValue</key>
									<true/>
								</dict>
								<dict>
									<key>HKSettingSectionItemEnabledKey</key>
									<string>HoboCodeSettingSoftphoneIncomingCallEnabled</string>
									<key>HKSettingSectionItemEnabledValue</key>
									<true/>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>HKSettingSectionHeader</key>
					<string>Pause button function</string>
					<key>HKSettingSectionFooter</key>
					<string></string>
					<key>HKSettingSectionItems</key>
					<array>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>Hold Call</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeOption</string>
							<key>HKSettingSectionItemKey</key>
							<string>HoboCodeSettingParkMethod</string>
							<key>HKSettingSectionItemValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>Mute Microphone</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeOption</string>
							<key>HKSettingSectionItemKey</key>
							<string>HoboCodeSettingParkMethod</string>
							<key>HKSettingSectionItemValue</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>HKSettingSectionHeader</key>
					<string>Account</string>
					<key>HKSettingSectionFooter</key>
					<string></string>
					<key>HKSettingSectionItems</key>
					<array>
						<dict>
							<key>HKSettingSectionItemTitle</key>
							<string>Log out</string>
							<key>HKSettingSectionItemType</key>
							<string>HKSettingSectionItemTypeCustom</string>
							<key>HKSettingSectionItemAction</key>
							<string>accountLogout:</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
