<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>User Account</string>
	<key>sections</key>
	<array>
		<dict>
			<key>header</key>
			<string>Basic info</string>
			<key>footer</key>
			<string></string>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>Name</string>
					<key>key</key>
					<string>name</string>
					<key>required</key>
					<true/>
					<key>type</key>
					<string>input</string>
					<key>keyboard</key>
					<string>ascii</string>
					<key>placeholder</key>
					<string>First Last</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Email</string>
					<key>key</key>
					<string>email</string>
					<key>required</key>
					<true/>
					<key>type</key>
					<string>input</string>
					<key>keyboard</key>
					<string>email</string>
					<key>placeholder</key>
					<string>you@example.com</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Telephone</string>
					<key>key</key>
					<string>phone</string>
					<key>required</key>
					<true/>
					<key>type</key>
					<string>input</string>
					<key>keyboard</key>
					<string>phone</string>
					<key>placeholder</key>
					<string>+1 888 123 456</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Street</string>
					<key>key</key>
					<string>address</string>
					<key>required</key>
					<true/>
					<key>type</key>
					<string>input</string>
					<key>keyboard</key>
					<string>ascii</string>
					<key>placeholder</key>
					<string>Street</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Postal Code</string>
					<key>key</key>
					<string>postalcode</string>
					<key>required</key>
					<true/>
					<key>type</key>
					<string>input</string>
					<key>keyboard</key>
					<string>ascii</string>
					<key>placeholder</key>
					<string>#####</string>
				</dict>
				<dict>
					<key>title</key>
					<string>City</string>
					<key>key</key>
					<string>city</string>
					<key>required</key>
					<true/>
					<key>type</key>
					<string>input</string>
					<key>keyboard</key>
					<string>ascii</string>
					<key>placeholder</key>
					<string>City</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Country</string>
					<key>key</key>
					<string>country</string>
					<key>required</key>
					<true/>
					<key>type</key>
					<string>input</string>
					<key>keyboard</key>
					<string>ascii</string>
					<key>placeholder</key>
					<string>Country</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
